version: "3.9"

services:
  app:
    build: .
    container_name: devops_ms_node_api
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    restart: unless-stopped
